@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-bg: var(--bg-color);
  --color-text: var(--text-color);
  --color-card: var(--card-bg);
}

:root {
  --bg-color: #fff2e2;
  --text-color: #3d3936;
  --primary-color: #ff5c5c;
  --secondary-color: #bdbcf5;
  --card-bg: #fef7ec;
}

[data-theme='dark'] {
  --bg-color: #0f172a;
  --text-color: #f9fafb;
  --primary-color: #fa6560;
  --secondary-color: #a7c9ff;
  --card-bg: #1e293b;
}

/* === 5. Global styling ===
* {
  transition: background-color 0.3s ease, color 0.3s ease;
} */

body {
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-family: "Jua", sans-serif;
}

h2 {
  font-family: 'Jua', sans-serif;
}

/* button {
  font-family: 'Jua', sans-serif;
} */